<marko-web-document>
  <@container>
    <@page>
      <h1>Hello World</h1>
      <p>
        <marko-web-link href="/15064713">
          View Content Page
        </marko-web-link>
      </p>
    </@page>
  </@container>
</marko-web-document>
